body{
background-color:#ebebe0;
font-size:20px;
font-family:Cursive;
color:black;
margin:0px;
padding:0px;
}

#Zdjęcie{
	width:300px;
	height:200px;
}

#coud{
	text-align:center;
	font-size:40px;
	background-color:#ebebe0;
	padding:40px 0 30px 0;
	border-radius:5px 5px 5px 5px;
}

#stopka{
	margin-top:30px;
	text-align:center;
	background-color:#e0e0d1;
	font-size:30px;
	padding-bottom:20px;
}

a{
	text-decoration:none;
	color:black;
}

.zdjęcie1{
	width:400px;
	height:250px;
	margin-left:20px;
	margin-top:10px;
}

#bok{

}

.podpis{
	margin-left:50px;
}

.zdjęcie2{
	width:350px;
	height:600px;
}

#tdb{
	margin-left:50px;
}

.Głównatabela{
	background-color:white;
	padding:20px;
	margin:auto;
	margin-top:0px;
	padding-top:10px;
	width:1200px;
	height:100px;
}

#wid{
	font-size:20px;
}

#ols{
	margin-bottom:40px;
}

.texter{
	margin-left:60px;
	margin-right:60px;
}

.gal1{
	width:560px;
	height:500px;
}

#Youtube{
	color:#ff3333;
	margin-left:120px;
}

#Instagram{
	color:#8533ff;
	margin-left:120px;
}

#Facebook{
	color:#1a53ff;
	margin-left:120px;
}

#Youtube:hover{
	color:#e60000;
}

#Facebook:hover{
	color:#0000e6;
}

#Instagram:hover{
	color:#6600ff;
}

#wid2{
	text-align:center;
	font-size:30px;
	background-color:#ebebe0;
	padding:40px 0 30px 0;
	border-radius:5px 5px 5px 5px;
}

.icons{
	width:25px;
	height:25px;
}

.Stopkatab{
	width:1200px;
	height:100px;
	background-color:#cbcbb3;
	margin:auto;
	padding-top:3px;
}

.cross{
	text-align:center;
}

.sup{
	color:#000000;
}

.sup:hover{
	color:#999999;
}
